<div class="container">
  <!-- Sign Up Form -->
  <div class="form-wrapper" *ngIf="isSignUp && !isComplete; else signInForm">
    <form class="sign-up" (ngSubmit)="onSubmitSignUpForm(signUpForm)" #signUpForm="ngForm">
      <div class="formLogo">
        <img src="/logo.png" alt="logo" width="200px" />
      </div>

      <div class="flexer">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" placeholder="Enter first name" [(ngModel)]="signUpModel.firstName" name="firstName" required />
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName" placeholder="Enter last name" [(ngModel)]="signUpModel.lastName" name="lastName" required />
        </div>
      </div>

      <div class="flexer">
        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input type="number" class="form-control" id="phoneNumber" placeholder="Enter phone number" [(ngModel)]="signUpModel.phoneNumber" name="phoneNumber" required />
        </div>
        <div class="form-group">
          <label for="datePicker">Date of Birth</label>
          <input type="date" class="form-control" id="datePicker" placeholder="Select date" [(ngModel)]="signUpModel.dateOfBirth" name="dateOfBirth" required />
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" [(ngModel)]="signUpModel.email" name="email" required />
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

      <div class="flexer">
        <div class="form-group">
          <label for="unHashedPassword">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="signUpModel.unHashedPassword" name="password" required />
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" [(ngModel)]="signUpModel.confirmPassword" name="confirmPassword" required />
        </div>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="subscribe" [(ngModel)]="signUpModel.subscribe" name="subscribe" />
        <label class="form-check-label" for="subscribe">
          I want to subscribe to newly posted blogs. </label>
      </div>

      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="terms" [(ngModel)]="signUpModel.terms" name="terms" />
        <label class="form-check-label" for="terms">
          I agree to all the <a href="#">terms</a> and <a href="#">conditions</a> of the website
        </label>
      </div>

      <div class="flexer resgistrationSbtBtn">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-outline-secondary" (click)="toggleForm()">Already have an account?</button>
      </div>
    </form>
  </div>

  <!-- Sign In Form (using ng-template) -->
  <ng-template #signInForm>
    <ng-container *ngIf="!isComplete; else formHidden">

        <div class="form-wrapper">
          <form class="sign-in" (ngSubmit)="onSubmitSignInForm(signInForm)" #signInForm="ngForm">
            <div class="formLogo">
              <img src="/logo.png" alt="logo" width="200px" />
            </div>

            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email" [(ngModel)]="signInModel.email" name="email" required />
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="flexer">
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="signInModel.password" name="password" required />
              </div>
            </div>
         
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="terms" [(ngModel)]="signInModel.terms" name="terms" />
              <label class="form-check-label" for="terms">
                I agree to all the <a href="#">terms</a> and <a href="#">conditions</a> of the website
              </label>
            </div>

            <div class="flexer resgistrationSbtBtn">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="button" class="btn btn-outline-secondary" (click)="toggleForm()">Don't have an account?</button>
            </div>
          </form>
        </div>
    </ng-container>
    <ng-template #formHidden>
      <div class="container text-center mt-5">
        <div class="card mx-auto shadow p-3" style="max-width: 500px;">
          <div class="card-body p-4">
            <div class="formLogo mb-4">
              <img src="/logo.png" alt="logo" width="150px" />
            </div>
            <h1 class="card-title text-success">Thank You! {{user.firstName}}</h1>
            <p class="card-text">Now you can interact with the blogs.</p>
            <p class="card-text">We’re thrilled to have you on board.</p>
            <a href="#" class="btn btn-primary mt-3 mb-3">Go to Dashboard</a>
          </div>
        </div>
      </div>
          </ng-template>
  </ng-template>
</div>
