.container{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background-color:white;
    width: 700px;
    margin: 0 auto;
    padding: 50px 50px;
    box-shadow: 0px 0px 10px grey;
    border-radius: 20px;
}
form *{
    margin-bottom: 10px;
}
.formLogo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap:20px;
}
.flexer input{
    min-width: 100% !important;
}
.flexer div{
    width: 100%;
}
.resgistrationSbtBtn{
    justify-content: center;
}
.resgistrationSbtBtn * {
    width: 300px !important;
}