
<!--
<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center mb-4">All Blogs</h2>
    </div>
  </div>


  <div class="d-flex flex-wrap justify-content-between">
    <div class="card-wrapper col-12 col-md-6 col-lg-6 mb-4" *ngFor="let post of blogPosts">
      <div class="card shadow-sm d-flex flex-column flex-md-row">
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title">{{ post.blogTitle }}</h5>
          <p class="card-text text-muted">
            <strong>Author:</strong> {{ post.authorName }} | <span>{{ post.readTime }} min read</span>
          </p>
          <a (click)="navigateToFullPost(post.id)" class="btn btn-link p-0 text-primary">
            Read More
          </a>
        </div>

        <div class="image-wrapper d-flex align-items-center">
          <img [src]="post.imageUrl" alt="Blog Cover Image" class="img-fluid" style="max-width: 150px; height: auto; border-radius: 5px;">
        </div>
      </div>
    </div>
  </div>
</div>

-->

<div class="container blogs-container mt-4">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center mb-4">All Blogs</h2>
    </div>
  </div>
 
<div class="nav-scroller py-1 mb-5 border-bottom border-top">
  <nav class="nav nav-underline justify-content-between categories">
    <button id="All" class="btn btn-link active" type="button" (click)="filterbasedOnCategory('')">All</button>

    <button class="btn btn-link active" type="button" (click)="filterbasedOnCategory('AI MACHINE LEARNING')">AI MACHINE LEARNING</button>
    <button class="btn btn-link" type="button" (click)="filterbasedOnCategory('CLOUD COMPUTING')">Cloud Computing</button>
    <button class="btn btn-link" type="button" (click)="filterbasedOnCategory('SOFTWARE DEVELOPMENT')">Software Development</button>
    <button class="btn btn-link" type="button" (click)="filterbasedOnCategory('TECH STARTUPS')">Tech Startups</button>
    <button class="btn btn-link" type="button" (click)="filterbasedOnCategory('BIG DATA')">Big Data</button>
    <button class="btn btn-link" type="button" (click)="filterbasedOnCategory('ROBOTICS')">Robotics</button>
    <button class="btn btn-link" type="button" (click)="filterbasedOnCategory('VIRTUAL REALITY VR')">Virtual Reality (VR)</button>
    <button class="btn btn-link" type="button" (click)="filterbasedOnCategory('TECH INDUSTRY NEWS')">Tech Industry News</button>
    <button class="btn btn-link" type="button" (click)="filterbasedOnCategory('BLOCKCHAIN')">Blockchain</button>
    <button class="btn btn-link" type="button" (click)="filterbasedOnCategory('CYBERSECURITY')">Cybersecurity</button>
    <button class="btn btn-link" type="button" (click)="filterbasedOnCategory('IOT')">Internet of Things (IoT)</button>
    <button class="btn btn-link" type="button" (click)="filterbasedOnCategory('QUANTUM COMPUTING')">Quantum Computing</button>
    <button class="btn btn-link" type="button" (click)="filterbasedOnCategory('DATA SCIENCE')">Data Science</button>
    <button class="btn btn-link" type="button" (click)="filterbasedOnCategory('GAMING')">Gaming & eSports</button>
    <button class="btn btn-link" type="button" (click)="filterbasedOnCategory('PROGRAMMING LANGUAGES')">Programming Languages</button>
    <button class="btn btn-link" type="button" (click)="filterbasedOnCategory('MOBILE APP DEVELOPMENT')">Mobile App Development</button>
    <button class="btn btn-link" type="button" (click)="filterbasedOnCategory('WEB DEVELOPMENT')">Web Development</button>
    <button class="btn btn-link" type="button" (click)="filterbasedOnCategory('NETWORKING')">Networking</button>
    <button class="btn btn-link" type="button" (click)="filterbasedOnCategory('HARDWARE')">Computer Hardware</button>
    
</nav>
</div>
<div class="mb-5">
  <!-- Search Bar -->
  <form class="d-flex ms-3" (ngSubmit)="searchBlogs()">
   <input [(ngModel)]="searchKeyWords"  id="searchBlog"   (input)="onInput($event)"
   name="search" class="form-control me-2" type="search" placeholder="Type keywords to search blog titles..." aria-label="Search" />
   <!-- <button class="btn btn-outline-success" type="submit"  >Search</button> -->
 </form>
</div>

<div *ngIf="filteredBlogPosts.length === 0 && searchKeyWords.trim()">
  <p id="noBlogFound">No blog posts found matching "{{ searchKeyWords }}".</p>
</div>

  <div *ngIf="filteredBlogPosts.length > 0" class="card-wrapper">
    <div class="card"  *ngFor="let blog of filteredBlogPosts">

      <div class="card-content">
        <h4 id="categoryTitle">{{ blog.category }}</h4>

        <h5>{{ blog.blogTitle }}</h5>
        <p >
          <strong>Author:</strong> {{ blog.authorName }} | <span>{{ blog.readTime }} min read</span>
          
        </p>
        <div class="likesAndread">
          <div class="likesCount">
            <i class="bi bi-heart-fill">{{blog.likes}}        </i>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
          </svg>

          </div>
        
         
          <a (click)="navigateToFullPost(blog.id)" class="btn btn-link p-0 text-secondary">
            Read More
          </a>

        </div>
     
        
     
      </div>
      <div class="image-wrapper">

        <img [src]="blog.imageUrl" 
        (error)="onImageError($event)" 
        alt="Blog Cover Image" 
        class="img-fluid" 
        style="max-width: 150px; height: auto; border-radius: 5px;">
         </div>
      
    </div>
  </div>
  
</div>
