h2{
  font-size: 50px;
  font-weight: 700;
}

  ::ng-deep .posts h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 10px; 
  }
  ::ng-deep .posts h3 {
    
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 10px; 
  }
  ::ng-deep .posts p {
    font-size: 1em;
    margin-top: 0.5em;
    overflow: hidden;
   

  }


.card{
  transition:  0.3s ease-in;
  padding: 10px;
  scale: 0.95;
}
.card:hover{
  scale: 1;
  background-color: rgb(219, 243, 216);


}
.card-body>*{
  margin-bottom: 2px;
}
h4{
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}
.posts{
  color: grey;
}
